{% extends base_template %}

{% block page_content %}
    {% for type, messages in app.request.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Tasks {{ task.id }}</h1>

    <hr>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td colspan="4">Server time: <strong>{{ "now"|date }}</strong></td>
            </tr>
            <tr>
                <th>Type</th>
                <th>Status</th>
                <th>Restart</th>
                <th>Wait</th>
                <th>Cancel</th>
                <th>Data</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
            <tr class="task-{{ task.state }}">
                <td>
                    <strong>{{ task.type }}</strong><br>
                    <small>Created at: {{ task.createdAt|date }}</small>
                    {% if task.scheduledAt %}
                        <div><small>Scheduled at: {{ task.scheduledAt|date }}</small></div>
                    {% endif %}
                </td>
                <td>{{ task.state }}</td>
                <td>
                    {% if task.cancelled or task.running %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_retry', {id: task.id}) }}">Restart</a>
                    {% endif %}
                </td>
                <td>
                    {% if task.cancelled or task.running or task.waiting %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_suspend', {id: task.id}) }}">Wait</a>
                    {% endif %}
                </td>
                <td>
                    {% if task.cancelled or task.running %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_cancel', {id: task.id}) }}">Cancel</a>
                    {% endif %}
                </td>
                <td>
                    <pre>{{ task.data|yaml_encode(2) }}</pre>
                </td>
                <td>
                    <pre>{{ task.log }}</pre>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}